#mcdTitle {
    font-weight: 500;
}

#mcdContainer {
    margin-top: 40px;
    padding: 0px 0px 20px 20px;
    border: 5px solid #5a2e19;
    background-color: #23793a;
    font-size: 1.5em;
    color: white;
}

.mcd-def-height {
    height: 300px;
}

#grafoCanvas {
    border:1px solid #66d684;
    border-radius: 10px;
    transition: box-shadow .2s;
}

#isConexoResult {
    color: #5a2e19;
    font-weight: bolder;
    margin-block-start: 0.5em !important;
}

.grafo-box {
    border: 1px solid #66d684;
    border-radius: 10px;
    padding-left: 20px;
    transition: box-shadow .2s;
}

.grafo-box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#grafoCanvas:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}